<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Headedin määrittäminen jokaiselle sivulle-->
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Quacker</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="../static/css/settings.css" th:href="@{/css/settings.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<div th:fragment="footer">
    <!-- <div class="container con2" style="width: 30em; background-color: #f0ede5 ; padding: 1em; text-align: center;">

         <footer>
      <p>Posted by: Hege Refsnes</p>
      <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
    </footer>

      </div> -->
</div>


    <div th:fragment="footer">
<footer class="page-footer">

<div class="left_foot">
  <p> <a href="@{/about}" style="color:black">About us</a></p>
  <p> <a href="@{/faq}" style="color:black">FAQ</a></p>
 </div>
  
  <div >
   <p>Contact:</p>
  <p> <a href="mailto:someone@example.com">contact@quacker.com</a></p>
  </div>
  
</footer>
  
  </div>
   <!-- Headeri sivuille jotka käyttäjä näkee kirjauduttuaan sivulle--> 
<div th:fragment="headermain">  
    <div class="page-header">
        
     <div  class="headerLeft">
                    <a th:href="@{/}" class="w3-xxlarge">
					<i class="fa fa-home">
					</i>
		 </a>
            <a class="btn btn-primary userlist" th:href="@{/users}" >List users</a>
  </div>          
  
       <div  class="headerSearch">
                     <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search" class="searchBar">
      <button class="searchIcon" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>    
            
            
  <div class="headerCenter"> 
   		<div> 
            <a th:href="@{/}" >
<img class="headerQuakImg" border="0" alt="logo" src="../static/images/quacker1.png" th:src="@{/images/quacker1.png}" >
            </a>
            </div>
            
            <div class="headerQuakerText2"> 
            <h2>   
			<a class="headerQuakerText" th:href="@{/}">
				 Quacker
 		   	</a>
            </h2>
            </div>       
</div>
            

            
 <div class="headerRight">            
            <div class="dropdown profileimg" >
          <p style="display:inline; font-family: Amiri; font-size: 30px ; letter-spacing: 5px;">  [[${#httpServletRequest.remoteUser}]]  </p>
  <a href="#" id="imageDropdown" data-toggle="dropdown">
  
  
  <img th:if="${profilePhotoHead != null}" border="0" alt="oma profiilikuva" class="rounded-circle border border-dark" 
  src="${profilePhotoUrl}" th:src="${profilePhotoHead}" 
  style="width:100px; height:65px ">
  <img th:if="${profilePhotoHead == null}" border="0" alt="oma profiilikuva" class="rounded-circle border border-dark" 
  src="${profilePhotoUrl}" th:src="@{/images/quackerhar.png}" 
  style="width:100px; height:65px ">
  
  <span class="caret"></span>
   </a>
   
  <ul class="dropdown-menu">
    <li><a th:href="@{/settings}">settings</a></li>
    <li><a th:if="${user != null}" th:href="@{'/user/' + ${user.getName()}}">profile</a></li>
    <li><form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form></li>
  </ul>
			</div>
</div>			
		
	</div>
	
	
<!-- 	<script type="text/javascript">
	var bgPattern = document.getElementById("bg")
	window.addEventListener("")
	</script> -->
	
	
</div>
</body>
</html>