:root {
  /*--maincolor : rgba(132, 87, 87, 0.5);*/
  --maincolor: rgba(0, 78, 147, 0.5);
  --placeholdercolor: rgba(0, 0, 0, 0.5);
  --placeholder-font-weihgt: normal;
  --bg-image: url(../images/tausta2.png);
}

body {
  background-image: url(../images/tausta.png);
  background-image: var(--bg-image);
}


.centered {
  position: absolute;
  top: 0.7em;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* WebKit, Blink, Edge */
.form-control::-webkit-input-placeholder {
  color: var(--placeholdercolor);
  color: rgba(0, 0, 0, 0.5);
  font-weight: (--placeholder-font-weihgt);
  font-weight: normal;
}

/* Mozilla Firefox 4 to 18 */
.form-control:-moz-placeholder {
  color: var(--placeholdercolor);
  color: rgba(0, 0, 0, 0.5);
  font-weight: (--placeholder-font-weihgt);
  font-weight: normal;
}

/* Mozilla Firefox 19+ */
.form-control::-moz-placeholder {
  color: var(--placeholdercolor);
  color: rgba(0, 0, 0, 0.5);
  font-weight: (--placeholder-font-weihgt);
  font-weight: normal;
}

/* Internet Explorer 10-11 */
.form-control:-ms-input-placeholder {
  color: var(--placeholdercolor);
  color: rgba(0, 0, 0, 0.5);
  font-weight: (--placeholder-font-weihgt);
  font-weight: normal;
}

/* Microsoft Edge */
.form-control::-ms-input-placeholder {
  color: var(--placeholdercolor);
  color: rgba(0, 0, 0, 0.5);
  font-weight: (--placeholder-font-weihgt);
  font-weight: normal;
}

.page-header {
  background-color: rgba(132, 87, 87, 0.5);
  background-color: var(--maincolor);
  margin-bottom: 10em;
  text-align: center;
  margin-bottom: 0em;
}

#container {
  margin: auto;
  width: 100%;
  padding-top: 20px;
}

#latestQuacks,
#posts {
  margin: 10px;
  padding: 20px;
  float: left;
  width: 800px;
  background: var(--maincolor);
}

#posts {
  margin-left:5%;
}

#quackInput {
  background-color: rgb(7, 121, 85);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 25px;
  margin: 5px;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
}

#quack-attachment{
  font-weight: bold;
}

label{
  font-weight: bold;
  font-size: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
}
.form-control {
  background-color: rgba(132, 87, 87, 0.5);
  background-color: var(--maincolor);
  color: black;
  border-color: black;
  font-weight: bold;
}

.con2 {
  margin-top: 1em;
  background-color: rgba(132, 87, 87, 0.5);
  background-color: var(--maincolor);
  width: 30em;
  padding: 1em;
  text-align: center;
  border-radius: 25px;
}

.con4 {
  margin-top: 1em;
  background-color: rgba(132, 87, 87, 0.5);
  background-color: var(--maincolor);
  padding: 1em;
  text-align: center;
}

.profileimg {
  text-align: right;
  background-color: rgba(132, 87, 87, 0.5);
  background-color: var(--maincolor);
}

.not-a-button {
  border: none;
  outline: none;
  padding: 0;
  background-color: unset;
}

.not-a-button:focus {
  outline: none;
}

.fa-home {
  position: absolute;
  left: 1em;
  top: 0.6em;
  z-index: 1;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
}

.dropdown {
  position: absolute;
  right: 2em;
  top: 0px;
  z-index: 1;
  background: transparent;
  text-align: right;
  padding-right: 0px;
  margin-right: 0m;
  margin-top: 0.7em;
}

.dropdown-menu {
  background-color: rgba(132, 87, 87, 0.5);
  background-color: var(--maincolor);
  text-align: center;
  min-width: 100px;
  padding: 5px;
  margin-top: 1.9em;
  border: 4px;
}

span.error {
  color: red;
}

.feedFilterMain{
	height: 50px;
}

.feedFilter{
	padding-top: 10px;
  	font-size: 20px;
	margin-left: 2%;
	margin-right: 2%;	
	margin-bottom: 0%;
  	border: 1px solid black;
	float: left; 
	width: 46%;
    background-color: var(--maincolor);
}

.active {
  background-color: rgba(230, 230, 228, 0.5);
  color: black;
}

.postaus{
  	border: 1px solid black;
   	border-radius: 5px;
    text-align: left;
    width: 90%;
    height: 100%;
    background-color: var(--maincolor);
    margin-top: 20px;
}

.quacki{
    background-color: rgba(230, 230, 228, 0.5);
	position: relative;
    width: 90%;
    left: 5%;
    font-size: 20px;
    padding-left: 1%;
    
}

.oikea{
  	position: relative;
  	left: 505px
}

.fa-thumbs-up{
	border-color: black;
	background-color: var(--maincolor);
	color: white;
}

