.personal-info-item {
    display: flex;
    justify-content: space-between;
}

.personal-info-item > span:first-child {
    margin-right: 5rem;
}

.personal-info-item > button {
    margin-left: auto;
}

.personal-info-form {
    margin-left: 1rem;
}

.personal-info-form input {
    margin-left: 1rem;
    margin-right: 1rem;
}

