.personal-info-item {
    display: flex;
    justify-content: space-between;
}

.personal-info-item > span:first-child {
    margin-right: 5rem;
}

.personal-info-item > button {
    margin-left: auto;
}

.personal-info-form.personal-info-form {
    margin-top: 0.5rem;
    margin-left: 1rem;
    align-items: flex-start;
}

.personal-info-form.personal-info-form > div {
    margin-left: 1rem;
    margin-right: 1rem;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
}

ul li a {
    color: #FFFF00;
    display: block;
    font-size: 15px;
}

ul li a:hover {
    color: #000000;
    background: #FFFF00;
}