<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head">
</head>

<body>
<div th:replace="fragments/common :: headermain"></div>

<div id="container" align="center">

    <div id="posts" align="center">
        <a href="/index">
            <img border="0" class="center quackimage" src="../static/images/Quacks.png" th:src="@{/images/Quacks.png}">
        </a>

        <form id="post-quack-form" th:action="@{/quack}" enctype="multipart/form-data" method="post">
                                                                
        	<div>
        		<textarea id="subject" class="textbox" name="message" th:placeholder="#{write_something}" ></textarea>
        	</div>    
      
   			<div>
   				<label>
   					<input type="checkbox" name="publicClassification" />Public Quack
   				</label>
   				<input type="file"  id="quack-attachment" name="file" aria-describedby="inputGroupFileAddon01"  >
       		</div>                                                             
                                                                                           
        	<input  type="submit" value="Quack!"/>
        
        	<a class="btn btn-primary" th:href="@{/users}" th:text="#{list_users}">List users</a>
        	<a class="btn btn-primary" th:href="@{/quacks}" th:text="#{list_quacks}">List quacks</a>
        </form>
    </div>


    <div id="latestQuacks" align="center">
        <a href="/index">
            <img border="0" class="center latestquacksimage" src="../static/images/LatestQuacks.png" th:src="@{/images/LatestQuacks.png}"
                 >
        </a>

        <div id="myDIV" class="feedFilterMain">
            <div th:switch="${quackView}">
                <div th:case="followed">
                    <a class="feedFilter" th:href="@{/all}">
                        <p th:text="#{all_users}"> </p>
                    </a>
                    <a class="feedFilter active" th:href="@{/followed}">
                        <p th:text="#{followed_users}"> </p>
                    </a>
                </div>
                <div th:case="*">

                    <a class="feedFilter active" th:href="@{/all}">
                        <p th:text="#{all_users}"> </p>
                    </a>
                    <a class="feedFilter" th:href="@{/followed}">
                        <p th:text="#{followed_users}"> </p>
                    </a>
                </div>
            </div>
        </div>


        <div th:switch="${quackView}">
            <div th:case="allQuacks">

            </div>
            <div th:case="followedQuacks">

            </div>
            <div th:case="*">
                <div th:each="quack : ${quacks}">
                    <div class="postaus" th:classappend="${quack.isNew(latestQuackView) ? 'uusi-quack' : ''}">
                        <img border="0" alt="oma profiilikuva" class="rounded-circle border border-dark"
                             src="${profilePhotoUrl}" th:src="@{/images/quackerhar.png}"
                             style="width:60px; height:40px ">

                        <b><a th:href="'/user/' + ${quack.getPoster().getName()}" th:text="${quack.poster.getName()}">poster</a></b>:

                        <div th:if="${quack.attachment != null}">
                            <img class="quack-image"
                                 th:if="${quack.attachment.getContentType().startsWith('image')}"
                                 th:src="${quack.attachment.getUrl()}"/>
                            <!--TODO: Find out if size could be dynamic-->
                            <video class="quack-image" width="500px" height="281px" controls 
                                   th:if="${quack.attachment.getContentType().startsWith('video')}"
                                   th:src="${quack.attachment.getUrl()}"/>
                            <audio class="quack-image"  controls th:if="${quack.attachment.getContentType().startsWith('audio')}"
                                   th:src="${quack.attachment.getUrl()}"/>
                        </div>

                        <div class="quacki">
                            <span th:text="${quack.getQuackMessage()}">message</span>
                            <span th:text="${quack.isPublicClassification()}">publicORnot</span>
                        </div>

                        <div class="oikea">
                            <span th:text="${quack.getFormattedDate()}">dateposted</span>
                            <span th:unless="${quack.getPoster().equals(user)}">
                            <span th:if="${quack.getLikers().contains(user)}">

                                <a th:href="@{'/like/' + ${quack.getId()}}"
                                   class="btn btn-danger fa fa-thumbs-up" style="background-color:green;"></a>

                                <button th:onclick="|likeQuack('${quack.getId()}')|"
                                   class="btn btn-danger fa fa-thumbs-down"></button>

                            </span>
                            <span th:unless="${quack.getLikers().contains(user)}">
                                <button th:onclick="|likeQuack('${quack.getId()}')|" class="btn btn-primary fa fa-thumbs-up"></button>
                            </span>
                        </span>
                        </div>

                        <div>
                            <span th:text="@{#{likes} + ${quack.getLikers().size()}}">likes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>


</div>
<script th:inline="javascript">
    function likeQuack(quackId) {

        const baseUrl = [[@{/like}]]
        const csrfToken = [[${_csrf.token}]]
        const headers = new Headers({
            'X-CSRF-TOKEN': csrfToken
        })

        fetch(`${baseUrl}/${quackId}`, {
            method: 'GET',
            headers
        }).finally(() => {
            window.location.reload()
        })
    }

</script>


<script>
    /**
     * Lisää esikatselukuva jos tiedosto on jokin kuvaformaatti
     */
    document.querySelector("#quack-attachment").addEventListener('change', function () {
        if (this.files?.[0]?.type.includes('image')) {
            const image = document.querySelector("#quack-image-preview") ?? new Image()
            image.id = "quack-image-preview"
            const objectURL = URL.createObjectURL(this.files[0])
            image.onload = () => {
                document.querySelector("#post-quack-form").prepend(image)
                URL.revokeObjectURL(objectURL)
            }
            image.src = objectURL
        }
    })
</script>
</body>
</html>