<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head">
</head>
<body>

<div th:replace="fragments/common :: headernotin"></div>
    
<div class="container con2">
<form action="#" th:action="@{/login}"
      method="POST">


    
    <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">
    </div>   
    
    <div class="form-group">
    <label for="password">Password</label>: 
    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
    </div> 
    
    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign in">

    <div th:if="${loginError != null}">
        <span class="error" th:text="${loginError}"></span>
    </div>

    
<p> </p>
<p style=" font-weight: bold">OR</p>
    
<a class="btn btn-secondary btn-lg btn-block" href="/register" role="button">Register</a>

</form>
</div>

</body>
</html>
