<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quacker</title>
</head>
<body>
<form action="#" th:action="@{/register}" method="POST">
    <p><label for="username">Username</label>: <input type="text" name="username" id="username"/></p>
    <p><label for="email">Email</label>: <input type="text" name="email" id="email"/></p>
    <p><label for="password">Password</label>: <input type="password" name="password" id="password"/></p>
    <p><input type="submit" value="Register" /></p>
</form>
</body>
</html>