<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head">  
</head>
<body>

<div th:replace="fragments/common :: headernotin"></div>
 
    
<div class="container con2">
    
<form action="#" th:action="@{/register}" method="POST">
    
    <div class="form-group">
    <label for="username">Username: </label>
    <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username"/>
    </div>  
    
    <div class="form-group">
    <label for="email">Email: </label>
    <input type="text" name="email" id="email" class="form-control" placeholder="Enter Email" />
    </div> 
    
    
    <div class="form-group">
    <label for="password">Password:</label> 
    <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password"/>
    </div>
    
    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Register" />
    
    
</form>
</div>    
<div th:replace="fragments/common :: footer"></div>  
</body>
</html>