<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div th:replace="fragments/common :: headermain"></div>

<div align="center">
<h1 th:text="#{search_user_header}"> Search user</h1>

	 <form th:action="@{/user/search/result}" method="post">
     	<input id="searchInput" type="text" name="userSearch" th:placeholder="#{search_user_placeholder}">
        <button id="searchbtn" type="submit" ><i class="fa fa-search"></i></button>
     </form>
</div>
<div align="center">
<h1 th:text="#{search_quack_header}"> Search quacks</h1>

	<form th:action="@{/quack/search/result}" method="post">
    	<input id="searchInput" type="text" name="quackSearch" th:placeholder="#{search_quack_placeholder}">
        <button id="searchbtn" type="submit" ><i class="fa fa-search"></i></button>
     </form>
</div>     
</body>

</html>