<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head">
</head>
<body>

<div th:replace="fragments/common :: headermain"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${#strings.equals(setting, 'personal-info')} ? 'active' : ''"
                       th:href="@{/settings/personal-info}">Personal Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${#strings.equals(setting, 'profile-photo')} ? 'active' : ''"
                       th:href="@{/settings/profile-photo}">Profile Photo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${#strings.equals(setting, 'password-change')} ? active : notactive"
                       th:href="@{/settings/password-change}">Change Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${#strings.equals(setting, 'delete-account')} ? active : notactive"
                       th:href="@{/settings/delete-account}">Delete Account</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link">More stuff</a>
                </li>
            </ul>
        </div>
        <div class="col-8">
            <div th:switch="${setting}">
                <div th:case="profile-photo">
                    <div>
                        <h3>Profile Photo</h3>
                        <div th:if="${profilePhotoUrl != null}" class="card"
                             style="height: 100px; width: 100px; margin-bottom: 1rem">
                            <img class="card-img-top" th:src="${profilePhotoUrl}" alt="profile photo"/>
                        </div>
                        <form th:action="@{/settings/profile-photo}" enctype="multipart/form-data" method="post">
                            <div class="form-group input-group mb-3">
                                <div class="custom-file">
                                    <input required type="file" class="custom-file-input" id="profile-photo-input"
                                           name="file" accept="image/*" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="profile-photo-input" id="profile-photo-label">Choose
                                        file</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                <div th:case="personal-info">
                    <div>
                        <h3>Personal Information</h3>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="personal-info-item">
                                    <span>Name </span><span th:text="${user.name}">name</span>
                                    <button class="not-a-button" style="visibility: hidden">
                                        <i data-feather="edit"></i>
                                    </button>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="personal-info-item">
                                    <span>Email </span><span th:text="${user.email}">email</span>
                                    <button class="not-a-button" onclick="$('#email-form').toggle()">
                                        <i data-feather="edit"></i>
                                    </button>
                                </div>
                                <form id="email-form"
                                      th:style="${#fields.hasErrors('email') ? 'display: flex' : 'display: none'}"
                                      th:object="${personalInfoForm}"
                                      th:action="@{/settings/personal-info/email}"
                                      class="form-inline personal-info-form"
                                      method="post">
                                    <div class="form-group">
                                        <input placeholder="New Email" required class="form-control" name="email"
                                               th:field="*{email}">
                                        <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</span>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <div th:case="password-change">
                    <div>
                        <h3>Change Password</h3>
                        <form th:action="@{/settings/password-change}"
                              th:object="${passwordForm}"
                              method="post">
                            <div class="form-group">
                                <p><label for="current_password">Current Password</label>:<br> <input type="password"
                                                                                                      name="current_password"
                                                                                                      id="current_password"
                                                                                                      required/></p>
                                <span class="error" th:if="${#fields.hasErrors('current_password')}"
                                      th:errors="*{current_password}"></span>
                                <p><label for="new_password">New Password</label>:<br> <input type="password"
                                                                                              name="new_password"
                                                                                              id="new_password"
                                                                                              required/></p>
                                <span class="error" th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></span>
                                <p><label for="confirm_new_password">Confirm New Password</label>:<br> <input
                                        type="password"
                                        name="confirm_new_password"
                                        id="confirm_new_password"
                                        th:field="*{confirm_new_password}"
                                        required/></p>

                            </div>
                            <button type="submit" class="btn btn-primary">Change password</button>
                        </form>
                    </div>
                </div>
                <div th:case="delete-account">
                    <h3>Delete Account</h3>
                    <form th:object="${currentPasswordForm}"
                          th:action="@{/settings/delete-account}"
                          class="form"
                          method="post"
                          id="delete-account-form"
                    >
                        <div class="form-group">
                            <label for="delete-account-current-password">Current Password</label>
                            <input type="password" required class="form-control"
                                   name="currentPassword" id="delete-account-current-password"
                                   th:field="*{currentPassword}">
                            <span class="error" th:if="${#fields.hasErrors('currentPassword')}"
                                  th:errors="*{currentPassword}">Password error</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Delete Account</button>
                    </form>
                </div>
            </div>
            <div th:default></div>
        </div>
    </div>
</div>
</div>
<div th:replace="fragments/common :: footer"></div>

<script>
    // file input fix
    $("#profile-photo-input").change(function (event) {
        if (event.target.files && event.target.files[0]) {
            $("#profile-photo-label").text(event.target.files[0].name)
        } else {
            $("#profile-photo-label").text("Choose File") //TODO jos me tehdään lokalisaatio niin tämä pitää ottaa huomioon
        }
    })

    document.querySelector("#delete-account-form").addEventListener('submit', event => {
        if (!window.confirm("A deleted account can't be restored. Are you sure you want to delete?")) {
            event.preventDefault()
        }
    })

    feather.replace()
</script>
</body>
</html>