<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div th:replace="fragments/common :: headermain"></div>
<div class="container">

        <table class="table table-bordered table-striped table-hover">

            <thead>
            <a th:href="@{/user/search}" style="font-size:20px;" th:text="#{search_user_header}">Search user</a>
            </thead>

            <tbody>
            <th class="text-center" th:text="#{username}">Username</th>
            <th class="text-center" th:text="#{followers}">Followers</th>
            <th class="text-center" th:text="#{following}">Following</th>
            <th class="text-center" th:text="#{total_quacks}">Total quacks</th>

             <tr th:each="user : ${users}">
                 <td>
                    <a th:text="${user.getName()}" th:href="@{'/user/' + ${user.getName()}}">username</a>
                 </td>

                 <td th:text="${user.getNumberFollowers()}">

                 </td>

                 <td th:text="${user.getNumberFollowing()}">

                 </td>

                 <td th:text="${user.getNumberOfQuacks()}">

                 </td>
            </tr>
 
            </tbody>
    </table>
</div>

<div th:replace="fragments/common :: footer"></div>

</body>



</html>