<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head">
</head>
<body>

<div th:replace="fragments/common :: headermain"></div>


<div class="container con4">
    <div class="jumbotron con4">
        <div class="row">
            <h4>This is the page for user: <span th:text="${user.getName()}">username</span></h4>
        </div>
        <div class="row">
            <p>Contact email: <span th:text="${user.getEmail()}">email</span></p>
        </div>
        <div class="row">
            <a class="btn btn-primary" role="button" th:href="'mailto:' + ${user.getEmail()}">Send email </a>
        </div>

        <div th:if="${profilePhotoUrl != null}" class="card" style="height: 100; width: 100px; margin-bottom: 1rem">
            <img class="card-img-top" th:src="${profilePhotoUrl}" alt="profile photo"/>
        </div>


        <div class="row">
            <div th:if="${isFollowed}">
                <h4><a class="btn btn-danger" role="button" th:text="@{Unfollow this user!}"
                       th:href="@{'/unfollow/' + ${user.getName()}}">Unfollow</a></h4>
            </div>
            <div th:unless="${isFollowed}">
                <h4><a class="btn btn-success" role="button" th:text="@{Follow this user!}"
                       th:href="@{'/follow/' + ${user.getName()}}">Follow</a></h4>
            </div>
        </div>

    </div>

    <div class="card con4">
        <div class="card-body">
            <h2>
                Latest quacks posted by <span th:text="${user.getName()}">username</span>:
            </h2>
        </div>
    </div>

    <div class="card" th:each="quack : ${userquacks}">
        <div class="card-body">
            <h5 class="card-title">
                <span th:text="${quack.getFormattedDate()}">dateposted</span>
                <b><span th:text="${quack.poster.getName()}">poster</span></b>
            </h5>
            <div th:if="${quack.attachment != null}">
                <img class="quack-image" th:if="${quack.attachment.getContentType().startsWith('image')}"
                     th:src="${quack.attachment.getUrl()}"/>
                <!--TODO: Find out if size could be dynamic-->
                <video width="500px" height="281px" controls
                       th:if="${quack.attachment.getContentType().startsWith('video')}"
                       th:src="${quack.attachment.getUrl()}"/>
                <audio controls th:if="${quack.attachment.getContentType().startsWith('audio')}"
                       th:src="${quack.attachment.getUrl()}"/>
            </div>
            <p class="card-text" th:text="${quack.getQuackMessage()}">
            </p>

            <div class="quack-buttons">
                <div th:if="${quack.getLikers().contains(loggedUser)}">
                    <a th:href="@{'/like/' + ${quack.getId()}}" class="btn btn-primary">Unlike</a>
                </div>
                <div th:unless="${quack.getLikers().contains(loggedUser)}">
                    <a th:href="@{'/like/' + ${quack.getId()}}" class="btn btn-primary">Like</a>
                </div>
                <div th:if="${quack.getPoster().equals(loggedUser)}">
                    <button th:onclick="|deleteQuack('${quack.getId()}')|" class="btn btn-primary">Delete</button>
                </div>
            </div>

            <p>Likes: <span th:text="${quack.getLikers().size()}"></span></p>
        </div>
    </div>


</div>
<script th:inline="javascript">
    function deleteQuack(quackId) {
        if (!confirm(`Are you sure you want to delete quack?`)) {
            return
        }

        const baseUrl = [[@{/quack}]]
        const csrfToken = [[${_csrf.token}]]
        const headers = new Headers({
            'X-CSRF-TOKEN': csrfToken
        })

        fetch(`${baseUrl}/${quackId}`, {
            method: 'DELETE',
            headers
        }).finally(() => {
            window.location.reload()
        })
    }
</script>

</body>


</html>