<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head">
</head>
<body>

<div th:replace="fragments/common :: headermain"></div>
<div class="container">

        <table class="table table-bordered table-striped table-hover">

            <thead>
            <tr>
                <td colspan="1">Result for search</td>
            </tr>
            </thead>

            <tbody>
            <th class="text-center">Username</th>
            <th class="text-center">Followers</th>
            <th class="text-center">Following</th>
            <th class="text-center">Total quacks</th>

             <tr th:each="user : ${users}">
                 <td>
                    <a th:text="${user.getName()}" th:href="@{'/user/' + ${user.getName()}}">username</a>
                 </td>

                 <td th:text="${user.getNumberFollowers()}">

                 </td>

                 <td th:text="${user.getNumberFollowing()}">

                 </td>

                 <td th:text="${user.getNumberOfQuacks()}">

                 </td>
            </tr>
            </tbody>
    </table>
</div>

<div th:replace="fragments/common :: footer"></div>

</body>



</html>